:root {
    --red: #bf0603;
    --black: #03071e;
    --blue: #0d3b66;
    --silver: #a9a8a4;
    --orange: #eb5e28;
}

.racing-sans-one-regular {
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
}
.russo-one-regular {
    font-family: "Russo One", serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    height: 70px;
    border-radius: 50%;
}

h1,
h2,
h4 {
    color: var(--silver);
    text-shadow: 2px 2px 5px rgba(67, 65, 65, 0.5);
}

.body {
    background-color: var(--black);
    font-family: "Russo One", serif;
    padding-top: 80px;
}

/* inizio Navbar */
.navbar {
    background-color: var(--silver);
    height: 85px;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 100000;
}

.nav-item {
    color: var(--blue);
}

.dropdown-menu[data-bs-popper] {
    background-color: var(--orange);
}
.nav-link {
    color: var(--blue) !important;
    transition: color 0.7s !important;
}
.nav-link:hover {
    color: var(--red) !important;
}

.dropdown-item {
    color: var(--blue) !important;
    font-family: "Racing Sans One", serif;
    transition: color 0.7s !important;
}
.dropdown-item:hover {
    background-color: var(--orange) !important;
    color: var(--silver) !important;
}

.dropstart .dropdown-toggle::before {
    content: ''!important;
    border: none!important;
}
/* 


/* Rimuove l'alone blu di Bootstrap */
/* .input-group:focus-within {
  outline: none !important;
  box-shadow: 0 0 5px var(--orange) !important;
  border-color: var(--orange) !important;
  border-radius: 5px !important;
}



 */
.btnSearch {
    background-color: var(--blue) !important;
    color: var(--silver) !important;
    transition: color 0.7s !important;
    margin-right: 10px;
}
.btnSearch:hover{
  border-color: var(--orange) !important;
}

.icon {
    height: 20px;
}

.icon-container {
    display: flex;
    align-items: center;
    padding: 0 4px;
}

.search-input {
    border: none !important;
    outline: none !important;
    padding: 6px;
    background-color: var(--silver);
}
.search-input:hover {
    transition: 2s;
    background-color: var(--orange);
}

.input-groupsh {
    border: solid 2px var(--blue);
    border-radius: 5px;
    background-color: var(--silver);
}

.input-groupsh:hover {
    border: solid 2px var(--orange) !important;
    transition: 2s;
    background-color: var(--orange);
}

/* Fine NavBar */
/* carousel */
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: "Racing Sans One", serif;
    font-size: 20px;
    color: #000;
    margin: 0;
    padding: 0;
}

swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
    margin-top: 85px;
}

swiper-slide {
    font-size: 18px;
    color: #ffffff;
    text-shadow: 2px 2px 4px black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

swiper-slide .subtitle {
    font-size: 21px;
}

swiper-slide .text {
    font-family: "Russo One", serif;
    font-size: 20px;
    max-width: 400px;
    line-height: 1.3;
    color: white !important;
    text-shadow: 2px 2px 4px black;
}

.alert {
    position: relative;
    z-index: 1050;
}

/* card */
.cardimg {
    height: 180px;
    object-fit: cover;
}
.card-text {
    color: var(--black);
}

/* Style form create-blade */
.blurred-bg {
    background: url("/image/istockphoto-539234279-612x612.jpg") center/cover
        no-repeat;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.blurred-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    z-index: 0;
}

.blurred-bg form {
    position: relative;
    z-index: 2;
}

/* form control */
.form-control {
    background-color: var(--silver) !important;
    border: solid var(--blue) !important;
    color: var(--blue) !important ;
    border-radius: 0px !important;
    margin-left: 0px !important;
}
.form-control:focus {
    box-shadow: 0 0 5px var(--orange) !important;
    border-color: var(--orange) !important;
    outline: none !important;
}

/* footer */
.footerColor{
  background-color: var(--silver);
  
}
.textfooter{
    color: var(--blue);
}
/*  */

.copyright{
    color: rgb(222, 217, 217);
}
/* Stelle sui commenti */

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    font-size: 2rem;
    gap: 5px;
  }
  
  .star-rating input {
    display: none;
  }
  
  .star-rating label {
    color: gray;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  /* Effetto di selezione: le stelle diventano dorate */
  .star-rating input:checked ~ label,
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color: gold;
  }
  

  /* paginator */
  .custom-pagination .pagination {
    background-color: var(--blue); /* Cambia colore di sfondo */
    padding: 10px; /* Spazio interno */
    border-radius: 8px; /* Smussa gli angoli */
}

.custom-pagination .pagination .page-item .page-link {
    color: var(--black); /* Cambia il colore del testo */
    border: none; /* Rimuove il bordo */
    padding: 8px 12px; /* Aggiunge spazio attorno ai numeri */
}

.custom-pagination .pagination .page-item.active .page-link {
    background-color: var(--orange); /* Cambia il colore della pagina attiva */
    font-weight: bold; /* Rende il testo in grassetto */
}

.custom-pagination .pagination .page-item .page-link:hover {
    background-color: var(--light-blue); /* Cambia colore al passaggio del mouse */
    color: black;
}
