
:root {
    --red: #bf0603;
    --black: #03071e;
    --blue: #0d3b66;
    --silver: #a9a8a4;
    --orange: #eb5e28;
  }

  .racing-sans-one-regular {
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .russo-one-regular {
    font-family: "Russo One", serif;
    font-weight: 400;
    font-style: normal;
  }
    
  
.logo{
    height: 70px;
    border-radius: 50%;
    
}



.body{
    background-color: var(--black);
    font-family: "Russo One", serif;
    padding-top: 80px
}
/* inizio Navbar */
.navbar{
    background-color: var(--silver);
    height: 85px;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 100000;
}


.nav-item{
    color: var(--blue);
}

.dropdown-menu[data-bs-popper] {
  background-color: var(--orange);
}
.nav-link {
  color:var(--blue)  !important;
  transition: color 0.7s !important;
}
.nav-link:hover {
  color:var(--red)  !important;
  
}
.dropdown-item {
  
  color: var(--blue)!important;
  font-family: "Racing Sans One", serif;
  transition: color 0.7s !important;
}
.dropdown-item:hover {
  
  background-color: var(--orange)!important;
  color:var(--silver)  !important;
}

.form-control {
  background-color: var(--silver)!important;
  border: solid var(--blue)!important;
  /* border-left: transparent !important; */
  color: var(--blue)!important;
  border-radius: 0px!important;
  margin-left: 0px !important;
}

.icon{
height: 20px;
}


.input-group-text {
 
  background-color: var(--silver)!important;
  border: solid var(--blue)!important;
  /* border-right: transparent !important; */
  margin-right: -5px !important;
}

/* Rimuove l'alone blu di Bootstrap */
.form-control:focus, 
.input-group:focus-within .input-group-text {
  outline: none !important;
  box-shadow: 0 0 5px var(--orange) !important; /* Effetto luce su entrambi */
  border-color: var(--orange) !important;
  
}

/* Unisce visivamente icona e input */
.input-group-text {
  border-right: none !important;
}

.form-control, .form-control:focus {
  border-left: none !important;
}

.btnSearch{
  margin-right: 10px;
}

.btnSearch{
  background-color: var(--blue)!important;
  color: var(--silver)!important;
  transition: color 0.7s !important;
}

/* Fine NavBar */
/* carousel */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: "Racing Sans One", serif;
  font-size: 20px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 100%;
  background: #000;
  margin-top: 85px;
}

swiper-slide {
  font-size: 18px;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

swiper-slide .subtitle {
  font-size: 21px;
}

swiper-slide .text {
  font-family: "Russo One", serif;
  font-size: 20px;
  max-width: 400px;
  line-height: 1.3;
}
.alert{
  position: relative;
  z-index: 1050;
}
/* card */
.cardimg{
  height: 180px;
  object-fit: cover;
}